<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Energy Consumption</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Device Energy Consumption</h1>
    <canvas id="energyChart" width="400" height="200"></canvas>

    <script>
        var ctx = document.getElementById('energyChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ model_ids|tojson|safe }},
                datasets: [
                    {
                    label: 'Total Energy',
                    data: {{ total_energies|tojson|safe }},
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Model ID'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Count/Total Energy'
                        }
                    }
                }
            }
        });
    </script>
</body>
</html>
