<!-- Inside templates/edit_profile.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>
<body>
    <h1>Edit Profile</h1>
    <form method="POST" action="">
        {{ form.csrf_token }}
        {{ form.name.label }} {{ form.name }}
        {{ form.billing_address_id.label }} {{ form.billing_address_id }}
        {{ form.submit }}
    </form>
</body>
</html>
