<!-- Inside templates/edit_service_location.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Service Location</title>
</head>
<body>
    <h1>Edit Service Location</h1>
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    <form method="POST" action="">
        {{ form.csrf_token }}
        {{ form.customer.label }} {{ form.customer }}
        {{ form.address.label }} {{ form.address }}
        {{ form.unit_number.label }} {{ form.unit_number }}
        {{ form.date_taken_over.label }} {{ form.date_taken_over }}
        {{ form.square_footage.label }} {{ form.square_footage }}
        {{ form.bedrooms.label }} {{ form.bedrooms }}
        {{ form.occupants.label }} {{ form.occupants }}
        {{ form.submit }}
    </form>
    <p><a href="{{ url_for('index') }}">Back to Home</a></p>
</body>
</html>
