<!-- Inside templates/profile.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <h1>User Profile</h1>
    <p>Welcome, {{ user.username }}!</p>
    <p>Name: {{ user.name }}</p>
    <p>Billing Address ID: {{ user.billing_address_id }}</p>

    <h2>Service Locations</h2>
    {% if user.service_locations %}
        <ul>
            {% for service_location in user.service_locations %}
            <li>
                {{ service_location.address }} - 
                <a href="{{ url_for('edit_service_location', location_id=service_location.id) }}">Edit</a>
                <a href="{{ url_for('remove_service_location', location_id=service_location.id) }}">Remove</a>
            </li>
            {% endfor %}

        </ul>
    {% else %}
        <p>No service locations found.</p>
    {% endif %}

    <p><a href="{{ url_for('add_service_location') }}">Add Service Location</a></p>
    <p><a href="{{ url_for('edit_profile') }}">Edit Profile</a></p>
    <p><a href="{{ url_for('enroll_device') }}">Enroll Device</a></p>
    <p><a href="{{ url_for('enrolled_devices') }}">Enrolled Devices</a></p>
    <p><a href="{{ url_for('logout') }}">Logout</a></p>
    <p><a href="{{ url_for('index') }}">Back to Home</a></p>
</body>
</html>
