<!-- Inside templates/register.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    <form method="POST" action="">
        {{ form.csrf_token }}
        
        <label for="username">{{ form.username.label }}</label>
        {{ form.username(class="form-control", placeholder="Enter your username", required=True) }}
        
        <label for="password">{{ form.password.label }}</label>
        {{ form.password(class="form-control", placeholder="Enter your password", required=True) }}

        <!-- Add fields for name and billing address -->
        <label for="name">{{ form.name.label }}</label>
        {{ form.name(class="form-control", placeholder="Enter your name") }}

        <label for="billing_address_id">{{ form.billing_address_id.label }}</label>
        {{ form.billing_address_id(class="form-control", placeholder="Enter your billing address") }}
        
        {{ form.submit }}
    </form>
</body>
</html>
